* {
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 25px;
    margin: 5%;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

button {
    color: black;
    background-color: greenyellow;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    border: 2px greenyellow solid;
    margin: 3%;
}

.timer {
    text-align: center;
}

#start-button {
    margin: 5% 3% 3% 3%;
    font-size: 20px;
    background-color: blueviolet;
}