* {
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 35px;
    margin: 5%;
}

button {
    color: black;
    background-color: blueviolet;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.container {
    border: 2px greenyellow solid;
    margin: 3%;
}

.timer {
    text-align: center;
}

